body {
    background-color: whitesmoke;
}

h1 {
    margin-top: 5px;
    margin-bottom: 40px;
    font-style: italic;
}

blockquote{
    border-left:none
}

.quote-box{
    margin-left: 70px;
    overflow: hidden;
    margin-top: -50px;
    padding-top: -100px;
    padding-left: 20px;
    border-radius: 17px;
    background-color: orange;
    margin-top: 25px;
    color:rgb(237, 237, 237);
    width: 325px;
    box-shadow: 2px 2px 2px 2px #E0E0E0;   
}

hr {
    border: 0.1px solid rgba(0,0,0,0.3);
    margin-right: 20px;
}

.quotation-mark{
    
    margin-top: -10px;
    font-weight: bold;
    font-size:100px;
    color:white;
    font-family: "Times New Roman", Georgia, Serif;
    
}

.quote-text{
    font-size: 19px;
    margin-top: -65px;
}